<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>XL Aide</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/base.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/serverController.js"></script>
</head>

<body>
<div class="row" ng-app="xl-aide">
    <div class="col-md-12" ng-controller="ServerController">
        <form name="serverForm" class="form-horizontal" role="form">
            <fieldset>

                <legend class="main-title">XL Aide</legend>

                <div class="form-group">
                    <label class="col-xs-3 control-label" for="textinput">Issue</label>

                    <div class="col-xs-9">
                        <input type="text" placeholder="Jira issue" ng-model="jiraIssue" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="importSnapshot()" ng-disabled="isImportDisabled()">Import</button>
                            <button class="btn btn-warning" ng-click="exportSnapshot()" ng-disabled="isExportDisabled()">Export</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
